.example-container {
  height: 100vh;
}

.botm {
  position: absolute;
  bottom: 0;
}

  .colapse {
    display: none;
  }

.draw:hover {
  .lin {
    .colapse {
      margin: 0px 10px;
      display:  inline;
    }
  }
}

.content {
  margin-left: 35px !important;
}

@media only screen and (max-height: 340px) {
  .botm {
    position: relative;
  }
}
