<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="draw" fxLayout="column" fxLayoutAlign="space-between center" mode="side"
    disableClose="true" opened="true">
    <mat-nav-list class="lin">
      <mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <span class="colapse">Menu</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/nav/main">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>
            forum
          </mat-icon>
          <span class="colapse">Chat</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/nav/group">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>
            diversity_2
          </mat-icon>
          <span class="colapse">Group</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>
            notifications
          </mat-icon>
          <span class="colapse">Notification</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>
            inventory_2
          </mat-icon>
          <span class="colapse">Files</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="botm">
      <mat-list-item class="lin" (click)="modToggle(mod)">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>{{mod}}_mode</mat-icon>
          <span class="colapse">{{modc}} Mode</span>
        </div>
      </mat-list-item>
      <mat-list-item class="lin">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon mat-list-icon>settings</mat-icon>
          <span class="colapse">settings</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
