.example-container {
  height: 100vh;
}

.botm {
  position: absolute;
  bottom: 0;
}

.colapse {
  display: none;
}

.draw:hover {
  .lin {
    width: 140px;
    .colapse {
      margin: 0px 10px;
      display: inline;
    }
  }
}

@media only screen and (max-height: 340px) {
  .botm {
    position: relative;
  }
}
