.example-container {
  height: 100vh;
}

.botm {
  position: absolute;
  bottom: 0;
}

.content {
  margin-left: 35px !important;
}

@media only screen and (max-height: 340px) {
  .botm {
    position: relative;
  }
}
