.main-container {
  min-height: 100vh;
  background: url(../../../../assets/bg.jpg) no-repeat center;
  background-size: cover;

  .left {
    min-width: 300px;
    height: 100vh;
    background-color: rgba(225, 225, 225, 0.35);
    backdrop-filter: blur(55px);
    padding: 10px;

    .left-head {
      padding: 20px;
    }

    .contact-profile {
      padding-block: 10px;
    }

    .dp-img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .label {
      height: 100%;
    }

    .contact-profile:hover {
      background: rgba(255, 255, 255, 0.123);
      cursor: pointer;
    }
  }

  .center {
    padding: 10px;

    .center-header {
      background-color: azure;
    }

    .input-container {
      position: fixed;
      bottom: 0;
    }
  }

  .right {
    background-color: rgb(187, 127, 255);
    transition: width 2s ease-in-out;
    width: 100%;
  }
}