<div class="main-container" fxLayout="row">
  <div class="left" fxLayout="column" fxFlex.lt-md="100%" fxLayoutGap="20px">
    <div class="left-head" fxLayout="row" fxLayoutGap="10px">
      <mat-icon>chat</mat-icon>
      <h3>your chats</h3>
    </div>
    <mat-divider></mat-divider>
    <div class="contact-profile" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px"
      *ngFor="let profile of contacts">
      <div class="profile" fxFlex="15%">
        <img src="../../../../assets/dp.jpg" class="dp-img" alt="dp">
      </div>
      <div class="label" fxLayout="column" fxLayoutAlign="space-around strat">
        <div class="name">Smart</div>
        <div class="status">Hi there i am using kabii</div>
      </div>
    </div>
  </div>
  <div class="center" fxFlex=100% fxHide.lt-md="showCenter" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="center-header" fxLayoutAlign="space-between center">
      <p>Arockya Raj</p>
      <img src="../../../../assets/dp.jpg" height="50px" style="border-radius: 50%;" width="50px" alt="dp"
        (click)="showProfile()">
    </div>
    <div class="input-message" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" class="mat-input" fxFlex="90%">
        <input matInput placeholder="write you code...">
      </mat-form-field>
      <button mat-fab><mat-icon>send</mat-icon></button>
    </div>
  </div>
  <div class="right" *ngIf="showRight" fxHide.lt-md="true" fxFlex="25%">'</div>
</div>