.main-container {
  min-height: 100vh;
  background: url(../../../../assets/bg.jpg) no-repeat center;
  background-size: cover;

  .left {
    min-width: 300px;
    height: 100vh;
    background-color: rgba(225, 225, 225, 0.35);
    backdrop-filter: blur(55px);
    padding: 10px;

    .left-head {
      padding: 20px;
    }

    .contact-profile {
      padding-block: 10px;
    }

    .dp-img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .label {
      height: 100%;
    }

    .contact-profile:hover {
      background: rgba(255, 255, 255, 0.123);
      cursor: pointer;
    }
  }

  .center {

    .center-header {
      background-color: #17212b;
    }
  }

  .right {
    background-color: rgb(187, 127, 255);
    transition: width 2s ease-in-out;
    width: 100%;
  }
}

.type-area {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
}

.type-area:focus {
  outline: none;
}

.input-message {
  background: #17212b;
  padding: 10px;
}

.input-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}